{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "PostgresDefault": "",
    "SQLiteDefault": "Data Source=pets-and-paws.db"
  },
  "DefaultDataset": "SQLiteDefault"
}