# Compiled object files
*.o
*.obj
*.dll
*.exe
*.pdb
*.mdb

# Directories
bin/
obj/

# App Settings
appsettings.json
appsettings.Development.json

# Personal Settings
.vscode

# Database for local development
pets-and-paws.db